extends ../layout

block content
	h1 Home
	br
	ul
		li
			a(href="/" title="Main Page") Main Page
		li
			a(href="/clients" title="Clients") Client
		li
			a(href="/users" title="Users") Users
		li
			a(href="/contact" title="Contact") Contact
